{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <div class="row">
      <div class="event-details col-md-12">
        <h1 class="title">{{ event.title }}</h1>
        <a href="http://www.openstreetmap.org/?mlat={{ event.venue.latitude }}&mlon={{ event.venue.longitude}}#map=15/{{ event.venue.latitude }}/{{ event.venue.longitude}}" target="_blank"><h2 class="venue">{{ event.venue }}</h2></a>
        <h2 class="col-md-12">Tonight's Djangonauts</h2>
      </div>
  </div>
  <div class="row">
  {% for rsvp in rsvp_list %}
  
  <form class="event-member col-xs-12 col-sm-12 col-md-3" method="post">
    {% csrf_token %}
    <div class="member-box {% if rsvp.instance.worked_on %}has-text{% endif %}">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img class="member-thumbnail" 
                     {% if rsvp.instance.member.thumb_link %}
                     style="background-image: url('{{ rsvp.instance.member.thumb_link }}');" 
                     {% else %}
                     style="background-image: url('{% static 'img/django_pony.png' %}');"
                     {% endif %}
                     />
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4 class="member-name">{{ rsvp.instance.member.name }} ({{ rsvp.instance.member.join_date|date:"Y" }})</h4>
                {{ rsvp.id }}
                {% if rsvp.instance.worked_on %}    
                <h2 class="worked-on-text">{{ rsvp.instance.worked_on }}</h2>
                <p class="worked-on-input" style="display: none;">{{ rsvp.worked_on }}</p>
                <button class="submit-work" style="display: none;">Submit</button>
                {% else %}
                <p class="worked-on-input">{{ rsvp.worked_on }}</p>
                <button class="submit-work">Submit</button>
                {% endif %}
            </div>
        </div>
    </div>
  </form>
  {% endfor %} 
  </div>
  {% endblock content %}

  {% block media %}
  <script type="text/javascript">
  $(function() {
      $('.member-box.has-text').click(function() {
          $(this).find('.worked-on-text').hide();
          $(this).find('.worked-on-input').show();
          $(this).find('.submit-work').show();
          // FIXME: Isn't working
          $(this).find('.worked-on-input').focus();
      });
  });
  </script>
  {% endblock media %}
