{% extends 'base.html' %}

  {% block content %}
  <div class="event-details">
    <h1>{{ event.title }}</h1>
    <h2>{{ event.venue }}</h2>
  </div>
  <h2>Tonight's Djangonauts</h2>
  {% for rsvp in rsvp_list %}
  <form class="event-member" method="post">
    {% csrf_token %}
    <h4>{{ rsvp.instance.member.name }}</h4>
    {% if rsvp.instance.worked_on %}
    <p>{{ rsvp.instance.worked_on }}</p>
    {% else %}
    {{ rsvp.id }}
    {{ rsvp.worked_on }}
    {% endif %}
  </form>
  {% endfor %} 
  {% endblock content %}
